apiVersion: oauth.openshift.io/v1
grantMethod: auto
kind: OAuthClient
metadata:
  name: openshift-browser-client
redirectURIs:
- https://{{ ocp_oauth_server_url }}/oauth/token/display
secret: {{ client_secret }} 
accessTokenInactivityTimeoutSeconds: {{ client_inactivity_timeout_seconds }}
